# Локальна папка з плагінами Terraform
.terraform/

# Файли стану (вони тепер у хмарі, але локальні копії іноді створюються)
*.tfstate
*.tfstate.*

# Файли зі змінними (можуть містити паролі)
*.tfvars
*.tfvars.json

# Локальні змінні оточення
.terraformrc
terraform.rc